@import '../../../styles/tokens.scss';

.character {
  border-radius: 5px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 300px auto;
}
.character-image {
  width: 100%;
  height: 300px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.character-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: $token-black;
  opacity: 0.8;
  font-size: $token-base-font-size;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 60px;
  p {
    padding: 2px 10px;
    color:$token-white;
    opacity: 1;
  }
}
.character-details {
  background-color: $token-darkgrey;
  padding: $token-spacing-4;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.character-details-individual {
  display: grid;
  grid-template-columns: auto 1fr;
  border-bottom: 0.5px solid #cdc4c4;
  padding: 10px;
  margin-bottom: 5px;
  p:first-child {
    font-weight: bold;
    font-size: $token-md-font-size;
  }
  p:nth-child(2) {
    font-size: $token-md-font-size;
  }
}
.character-data {
  color: $token-orange;
  text-align: end;
}
.font-white {
  color: $token-white;
}
.pos-relative {
  position: relative;
}
@media screen and (max-width: 767px) {
  .pos-relative {
    width: 100%;
  }
  .character {
    width: 100%;
    grid-auto-rows: 250px auto;
  }
  .character-image {
    width: 100%;
    height: 250px;
  }
  .character-name {
    width: 100%;
    height: 40px;
    font-size: $token-xs-font-size;
    p{
      color: $token-white;
    }

  }
  .character-details {
    width: 100%;
    padding: 0;
  }
  .character-details-individual {
    box-sizing: border-box;
    padding: 8px 5px;
    width: 100%;

    p:first-child {
      font-weight: bold;
      font-size: $token-xs-font-size;
    }
    p:nth-child(2) {
      font-size: $token-xs-font-size;
    }
  }
}
