$token-black: #000000;
$token-white:#ffffff;
$token-blue: #2c2e50;
$token-navy600: #6b6d85;
$token-darkgrey:#393737;
$token-orange:rgb(223, 173, 10);

$token-base-font-size: 1rem;
$token-l-font-size: 1.125rem;
$token-md-font-size: .875rem;
$token-sm-font-size: .75rem;
$token-xs-font-size: .625rem;
$token-lg-font-size: 2rem;

$token-spacing-1: .25rem;
$token-spacing-2: .50rem;
$token-spacing-3: .75rem;
$token-spacing-4: 1rem;
$token-spacing-5: 1.25rem;
$token-spacing-6: 1.50rem;
$token-spacing-7: 1.75rem;
$token-spacing-8: 2rem;
$token-spacing-9: 2.25rem;
$token-spacing-10: 2.50rem;
$token-spacing-12: 3rem;

