@import '../../../styles/tokens.scss';

main {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-areas:
    'filter search'
    'filter content'
    'filter content'
    'filter content';
}
.filtersection {
  grid-area: filter;
  padding: $token-spacing-4;
}
.individual-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 8px;
  min-width: 70px;
  border-radius: 5px;
  min-height: 30px;
  margin: 2px 8px;
  background-color: $token-navy600;
  color: $token-white;
  p {
    font-size: $token-sm-font-size;
  }
}
.searchsection {
  grid-area: search;
  display: grid;
  align-content: flex-start;
  padding: $token-spacing-1;
  height: auto;
  margin: $token-spacing-4 0;
}
.searchsection-sort {
  display: grid;
  grid-template-columns: auto 1fr;
}
.sort {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  flex: 1 1 0%;
}
.searchsection-filters {
  display: flex;
  flex-direction: column;
}
.searchsection-header-text {
  font-weight: 500;
  font-size: $token-lg-font-size;
}
.contentsection {
  grid-area: content;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: $token-spacing-4;
  padding: $token-spacing-2;
  background-color: $token-black;
  margin: $token-spacing-4;
}
.filters-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}
.remove-filter-button {
  width: 30px;
  height: auto;
  border: none;
  color: $token-white;
  background-color: transparent;
  font-size: $token-md-font-size;
  text-align: end;
}
.empty-box {
  color: $token-white;
  flex: 1;
  margin: auto;
  display: flex;
  justify-content: center;
  text-align: center;
}

@media screen and (max-width: 767px) {
  main {
    grid-template-columns: 1fr;
    grid-template-areas:
      'filter filter'
      'search search'
      'content content'
      'content content';
  }
  .contentsection {
    grid-template-columns: repeat(2, 1fr);
  }
  .searchsection-sort {
    grid-template-columns: 1fr;
  }
  .sort {
    justify-content: flex-start;
    margin: $token-spacing-4 5px;
  }
}
