@import '../../../styles/tokens.scss';

.filter{
font-size: $token-spacing-6;
font-weight: 400;
}
.filter-button-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    div{
        display:flex;
        flex: 1;
        justify-content:  flex-end;
    }
}
.filter-button{
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    font-size: $token-lg-font-size;
    text-align: center;
}
.filter-box{
    border: 0.5px dotted $token-black;
    padding: $token-spacing-2;
    margin: $token-spacing-4 $token-spacing-2;
p{
    font-size: $token-spacing-5;
    font-weight: bold;
}
}