.inputbox {
  width: 90%;
  padding: 5px;
  font-size: 1rem;
  border: 2px solid #ccc;
  &:focus {
    border: 3px solid #ccc;
  }
}
.search-but {
  width: 100px;
  margin: 0px 10px;
  height: 35px;
  align-self: flex-end;
}
.search-box {
  display: flex;
  justify-content: center;
}
